@model Kullanici

<div class="card">
<div class="card-header">
    Kullanıcı Bilgileri
</div>
<div class="card-body">
    
    <p>Kullanıcı Adı: @Model.UserName</p>

    <p>Kullanıcı Rolü: @Model.KullaniciRolü</p>

    <p>Kullanıcı Adı Soyadı: @Model.AdiSoyAdi</p>
</div>
</div>
